.loader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  .content {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-sandy);
    box-shadow: 32px 0 var(--color-sandy),
      -32px 0 var(--color-sandy);
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
  }
}

@keyframes flash {
  0% {
    background-color: var(--color-bkgr-white-transp);
    box-shadow: 32px 0 var(--color-bkgr-white-transp),
      -32px 0 var(--color-sandy);
  }
  50% {
    background-color: var(--color-sandy);
    box-shadow: 32px 0 var(--color-bkgr-white-transp),
      -32px 0 var(--color-bkgr-white-transp);
  }
  100% {
    background-color: var(--color-bkgr-white-transp);
    box-shadow: 32px 0 var(--color-sandy),
      -32px 0 var(--color-bkgr-white-transp);
  }
}
      